.cache
.cache/
.env
.env.test
.env*.local
.eslintcache
.fusebox/
.idea/
.node_repl_history
.npm
.vscode-test
.vscode/
.yarn-integrity
*.code-workspace
*.iws
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
build/
coverage
dist
lib-cov
logs
node_modules/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*